/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Apr-2018, 09:47:56
    Author     : Asbamz
*/

@font-face {
    src: url('DINPro-Regular_13937.ttf');
}

/* cusom background */
/* Set custom background colour */
.pane {
    -fx-background-color: #4986A8;
}

.login-pane {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #2C546D, #4986A8);
}

/* cusom tab pane */
/* Set minimum height and width and font size */
.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-min-height:45px;
    -fx-font-size: 20px;
}


/* Set background colour of pane behind tabs */
.tab-pane .tab-header-background {
    -fx-background-color: #2C546D;
}

/* Removes huges gab between top and left side */
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 2 0 0;
}

/* removes round corners and gab between tabs and pane */
.tab{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

/* Set background color of tab */
.tab-pane .tab
{
    -fx-background-color: #2C546D;
    -fx-background-insets: 0;
}

/* Set background color of selected tab */
.tab-pane .tab:selected
{
    -fx-background-color: #4986A8;
}

#ICONTAB.tab {
    -fx-pref-width: 57px;
    -fx-alignment: CENTER_RIGHT;
}

/* Set tab label alignment and text fill */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

/* Set selected tab label alignment and text fill */
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

/* Removes ugly blue stroke around focused tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.titled-pane
{
    -fx-text-fill: #FFFFFF;
}

.titled-pane > .title
{
    -fx-background-color: #737f8c, #737f8c, #737f8c;
    -fx-background-radius: 10 10 10 10, 10 10 10 10, 10 10 10 10;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}

.titled-pane:expanded > .title
{
    -fx-background-radius: 10 10 0 0, 10 10 10 10, 10 10 10 10;
}

/* cusom root */
/* Set standard font family */
.root {
    -fx-font-family: 'DINPro-Regular';
    -fx-font-size: 13px;
}

/* cusom label */
/* Label does not care about root settings, so the font family is added again */
/* Set text colour */
.label {
    -fx-font-family: 'DINPro-Regular';
    -fx-text-fill: #4D4D4D;
    -fx-font-size: 15px;
}

#WHITE.label {
    -fx-text-fill: #FFFFFF;
}

/* custom button */
/* Removes button round corners, set button background colour and set text colour */
.button {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #4D4D4D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}

/* Show cursor hand on hover */
.button:hover {
    -fx-cursor: hand;
}

.button-login {
    -fx-background-insets: -5, -10, -5, -10;
    -fx-font-size: 20px;
}

/* cusom textfield */
/* Remove textfields round corners, set background colour, set text colour and set border colour */
#DRAGANDDROP.text-field:hover {
    -fx-cursor: hand;
}

.text-field {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #4D4D4D;
    -fx-border-color: #4D4D4D;
    -fx-font-size: 13px;
}

/* custom combobox */
.combo-box-base
{
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;
    -fx-background-color: #4D4D4D;
    -fx-text-fill: rgba(77,77,77,0.5);
    -fx-border-color: #4D4D4D;
    -fx-font-size: 13px;
}

.combo-box .list-cell:selected
{
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #4D4D4D;
}

.combo-box-popup .list-view
{
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #DFDFDF;
    -fx-border-color: #4D4D4D;
}

.combo-box-base .list-view .cell  {
    -fx-background-color: #DFDFDF;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #4D4D4D;
}

.combo-box-popup .list-view .list-cell:selected,
.combo-box-popup .list-view .list-cell:hover
{
    -fx-background-color: #4D4D4D;
    -fx-text-fill: #FFFFFF;
}

.combo-box .arrow
{
    -fx-background-color: #DFDFDF;
}

/* Checkbox */
.check-box .box
{
    -fx-background-color: #DFDFDF;
    -fx-border-color: #4D4D4D;
    -fx-border-radius: 0px;
}

.check-box:selected .mark {
    -fx-background-color: #FFFFFF;
}

.check-box:selected .box {
    -fx-background-color: #4D4D4D;
}

.progress-bar {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: white;
}

.progress-bar .track{
    -fx-background-insets: 20;
    -fx-background-radius: 0, 0, 0, 0;
}

.progress-bar .bar {
    -fx-background-color: #0DF279;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0, 0, 0, 0;
}

.split-pane:horizontal > .split-pane-divider,
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #DFDFDF;
}

.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color: #DFDFDF;
}

.scroll-bar:horizontal {
    -fx-min-height: 16.5;
    -fx-pref-height: 16.5;
}

.scroll-bar:vertical {
    -fx-min-width: 16.5;
    -fx-pref-width: 16.5;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #4D4D4D;
}

.increment-button,
.decrement-button {
    -fx-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-color: #4D4D4D;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
}

.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
    -fx-background-color: #DFDFDF;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #4D4D4D;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-insets: 1 1 1 1;
}

.scroll-bar:vertical .thumb {
    -fx-background-insets: 1 1 1 1;
}

.scroll-pane .corner{
    -fx-background-color: #DFDFDF;
    -fx-background-insets: 0,-2,-2,0;
}

.list-view .corner{
    -fx-background-color: #DFDFDF;
}
.list-view .scroll-bar:horizontal {
    -fx-padding: 0 0 1 0;
}

.list-view .scroll-bar:vertical {
    -fx-padding: 0 1 0 0;
}