/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Apr-2018, 09:47:56
    Author     : Asbamz
*/

@font-face {
    src: url('coolvetica.ttf');
}

/* cusom background */
.pane {
    -fx-background-color: #4986A8;
}

/* cusom tab pane */
.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-min-height:45px;
    -fx-font-size: 20px;
}

.tab-pane .tab-header-background {
    -fx-background-color: #2C546D;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 2 0 0;
}

.tab{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.tab-pane .tab
{
    -fx-background-color: #2C546D;
    -fx-background-insets: 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #4986A8;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* cusom root */
.root {
    -fx-font-family: 'Coolvetica Rg';
}

/* cusom label */
.label {
    -fx-font-family: 'Coolvetica Rg';
    -fx-text-fill: #FFFFFF;
}

.label .text {
    -fx-fill: #FFFFFF;
    -fx-stroke: #4D4D4D;
    -fx-stroke-width: 1px;
}

/* cusom button */
.button {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #4D4D4D;
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-cursor: hand;
}

/* cusom textfield */
.text-field {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #4D4D4D;
}