/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Apr-2018, 09:47:56
    Author     : Asbamz
*/

@font-face {
    src: url('coolvetica.ttf');
}

/* cusom background */
/* Set custom background colour */
.pane {
    -fx-background-color: #4986A8;
}

/* cusom tab pane */
/* Set minimum height and width and font size */
.tab-pane {
    -fx-tab-min-width:100px;
    -fx-tab-min-height:45px;
    -fx-font-size: 20px;
}

/* Set background colour of pane behind tabs */
.tab-pane .tab-header-background {
    -fx-background-color: #2C546D;
}

/* Removes huges gab between top and left side */
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 2 0 0;
}

/* removes round corners and gab between tabs and pane */
.tab{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

/* Set background color of tab */
.tab-pane .tab
{
    -fx-background-color: #2C546D;
    -fx-background-insets: 0;
}

/* Set background color of selected tab */
.tab-pane .tab:selected
{
    -fx-background-color: #4986A8;
}

/* Set tab label alignment and text fill */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

/* Set selected tab label alignment and text fill */
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

/* Removes ugly blue stroke around focused tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* cusom root */
/* Set standard font family */
.root {
    -fx-font-family: 'Coolvetica Rg';
    -fx-font-size: 13px;
}

/* cusom label */
/* Label does not care about root settings, so the font family is added again */
/* Set text colour */
.label {
    -fx-font-family: 'Coolvetica Rg';
    -fx-text-fill: #4D4D4D;
    -fx-font-size: 15px;
}

#WHITE.label {
    -fx-text-fill: #FFFFFF;
}

/* cusom button */
/* Removes button round corners, set button background colour and set text colour */
.button {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #4D4D4D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}

/* Show cursor hand on hover */
.button:hover {
    -fx-cursor: hand;
}

/* cusom textfield */
/* Remove textfields round corners, set background colour, set text colour and set border colour */
.text-field {
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #4D4D4D;
    -fx-border-color: #4D4D4D;
    -fx-font-size: 13px;
}

/* custom combobox */
.combo-box-base
{
    -fx-background-radius: 0,0,0,0;
    -fx-background-color: #4D4D4D;
    -fx-text-fill: rgba(77,77,77,0.5);
    -fx-border-color: #4D4D4D;
    -fx-font-size: 13px;
}

.combo-box .list-cell:selected
{
    -fx-background-color: #DFDFDF;
    -fx-text-fill: #4D4D4D;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #DFDFDF;
    -fx-text-fill: rgba(77,77,77,0.5);
}

.combo-box-popup .list-view .list-cell:selected,
.combo-box-popup .list-view .list-cell:hover
{
    -fx-background-color: #4D4D4D;
    -fx-text-fill: #FFFFFF;
}

.combo-box .arrow
{
    -fx-background-color: #DFDFDF;
}

/* Checkbox */
.check-box .box
{
    -fx-background-color: #DFDFDF;
    -fx-border-color: #4D4D4D;
    -fx-border-radius: 0px;
}

.check-box:selected .mark {
    -fx-background-color: #FFFFFF;
}

.check-box:selected .box {
    -fx-background-color: #4D4D4D;
}